.glitch-one {
  color: black;
  position: relative; }

@keyframes glitch-one-anim-1 {
  0% {
    clip: rect(34px, 450px, 46px, 0); }
  5.88235% {
    clip: rect(67px, 450px, 42px, 0); }
  11.76471% {
    clip: rect(62px, 450px, 34px, 0); }
  17.64706% {
    clip: rect(105px, 450px, 52px, 0); }
  23.52941% {
    clip: rect(77px, 450px, 33px, 0); }
  29.41176% {
    clip: rect(91px, 450px, 81px, 0); }
  35.29412% {
    clip: rect(115px, 450px, 39px, 0); }
  41.17647% {
    clip: rect(66px, 450px, 95px, 0); }
  47.05882% {
    clip: rect(95px, 450px, 91px, 0); }
  52.94118% {
    clip: rect(28px, 450px, 23px, 0); }
  58.82353% {
    clip: rect(66px, 450px, 17px, 0); }
  64.70588% {
    clip: rect(39px, 450px, 18px, 0); }
  70.58824% {
    clip: rect(47px, 450px, 47px, 0); }
  76.47059% {
    clip: rect(71px, 450px, 92px, 0); }
  82.35294% {
    clip: rect(16px, 450px, 20px, 0); }
  88.23529% {
    clip: rect(108px, 450px, 82px, 0); }
  94.11765% {
    clip: rect(96px, 450px, 69px, 0); }
  100% {
    clip: rect(105px, 450px, 37px, 0); } }

@keyframes glitch-one-anim-2 {
  0% {
    clip: rect(20px, 450px, 73px, 0); }
  5.88235% {
    clip: rect(86px, 450px, 37px, 0); }
  11.76471% {
    clip: rect(49px, 450px, 12px, 0); }
  17.64706% {
    clip: rect(22px, 450px, 19px, 0); }
  23.52941% {
    clip: rect(92px, 450px, 86px, 0); }
  29.41176% {
    clip: rect(96px, 450px, 106px, 0); }
  35.29412% {
    clip: rect(2px, 450px, 70px, 0); }
  41.17647% {
    clip: rect(58px, 450px, 30px, 0); }
  47.05882% {
    clip: rect(83px, 450px, 54px, 0); }
  52.94118% {
    clip: rect(107px, 450px, 107px, 0); }
  58.82353% {
    clip: rect(93px, 450px, 113px, 0); }
  64.70588% {
    clip: rect(2px, 450px, 36px, 0); }
  70.58824% {
    clip: rect(47px, 450px, 80px, 0); }
  76.47059% {
    clip: rect(102px, 450px, 80px, 0); }
  82.35294% {
    clip: rect(90px, 450px, 16px, 0); }
  88.23529% {
    clip: rect(68px, 450px, 59px, 0); }
  94.11765% {
    clip: rect(59px, 450px, 58px, 0); }
  100% {
    clip: rect(97px, 450px, 7px, 0); } }
  .glitch-one:before, .glitch-one:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    clip: rect(0, 0, 0, 0); }
  .glitch-one:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitch-one-anim-1 2s infinite linear alternate-reverse; }
  .glitch-one:before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch-one-anim-2 3s infinite linear alternate-reverse; }

.glitch-two {
  color: black;
  position: relative; }

@keyframes glitch-two-anim-1 {
  0% {
    clip: rect(62px, 450px, 99px, 0); }
  5.88235% {
    clip: rect(37px, 450px, 45px, 0); }
  11.76471% {
    clip: rect(40px, 450px, 101px, 0); }
  17.64706% {
    clip: rect(83px, 450px, 9px, 0); }
  23.52941% {
    clip: rect(5px, 450px, 6px, 0); }
  29.41176% {
    clip: rect(59px, 450px, 80px, 0); }
  35.29412% {
    clip: rect(115px, 450px, 56px, 0); }
  41.17647% {
    clip: rect(40px, 450px, 17px, 0); }
  47.05882% {
    clip: rect(98px, 450px, 88px, 0); }
  52.94118% {
    clip: rect(100px, 450px, 92px, 0); }
  58.82353% {
    clip: rect(74px, 450px, 106px, 0); }
  64.70588% {
    clip: rect(44px, 450px, 56px, 0); }
  70.58824% {
    clip: rect(55px, 450px, 93px, 0); }
  76.47059% {
    clip: rect(2px, 450px, 75px, 0); }
  82.35294% {
    clip: rect(59px, 450px, 75px, 0); }
  88.23529% {
    clip: rect(40px, 450px, 58px, 0); }
  94.11765% {
    clip: rect(15px, 450px, 77px, 0); }
  100% {
    clip: rect(76px, 450px, 69px, 0); } }

@keyframes glitch-two-anim-2 {
  0% {
    clip: rect(3px, 450px, 111px, 0); }
  5.88235% {
    clip: rect(38px, 450px, 99px, 0); }
  11.76471% {
    clip: rect(33px, 450px, 78px, 0); }
  17.64706% {
    clip: rect(1px, 450px, 4px, 0); }
  23.52941% {
    clip: rect(90px, 450px, 103px, 0); }
  29.41176% {
    clip: rect(115px, 450px, 93px, 0); }
  35.29412% {
    clip: rect(13px, 450px, 60px, 0); }
  41.17647% {
    clip: rect(43px, 450px, 43px, 0); }
  47.05882% {
    clip: rect(53px, 450px, 13px, 0); }
  52.94118% {
    clip: rect(96px, 450px, 100px, 0); }
  58.82353% {
    clip: rect(24px, 450px, 7px, 0); }
  64.70588% {
    clip: rect(32px, 450px, 73px, 0); }
  70.58824% {
    clip: rect(80px, 450px, 84px, 0); }
  76.47059% {
    clip: rect(113px, 450px, 1px, 0); }
  82.35294% {
    clip: rect(109px, 450px, 66px, 0); }
  88.23529% {
    clip: rect(26px, 450px, 82px, 0); }
  94.11765% {
    clip: rect(16px, 450px, 3px, 0); }
  100% {
    clip: rect(58px, 450px, 79px, 0); } }
  .glitch-two:before, .glitch-two:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    clip: rect(0, 0, 0, 0); }
  .glitch-two:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitch-two-anim-1 2s infinite linear alternate-reverse; }
  .glitch-two:before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch-two-anim-2 3s infinite linear alternate-reverse; }

.glitch-three {
  color: black;
  position: relative; }

@keyframes glitch-three-anim-1 {
  0% {
    clip: rect(53px, 450px, 111px, 0); }
  5.88235% {
    clip: rect(83px, 450px, 110px, 0); }
  11.76471% {
    clip: rect(20px, 450px, 48px, 0); }
  17.64706% {
    clip: rect(19px, 450px, 47px, 0); }
  23.52941% {
    clip: rect(53px, 450px, 115px, 0); }
  29.41176% {
    clip: rect(97px, 450px, 101px, 0); }
  35.29412% {
    clip: rect(108px, 450px, 28px, 0); }
  41.17647% {
    clip: rect(103px, 450px, 62px, 0); }
  47.05882% {
    clip: rect(73px, 450px, 52px, 0); }
  52.94118% {
    clip: rect(24px, 450px, 9px, 0); }
  58.82353% {
    clip: rect(12px, 450px, 107px, 0); }
  64.70588% {
    clip: rect(61px, 450px, 99px, 0); }
  70.58824% {
    clip: rect(108px, 450px, 101px, 0); }
  76.47059% {
    clip: rect(74px, 450px, 112px, 0); }
  82.35294% {
    clip: rect(35px, 450px, 83px, 0); }
  88.23529% {
    clip: rect(31px, 450px, 25px, 0); }
  94.11765% {
    clip: rect(78px, 450px, 44px, 0); }
  100% {
    clip: rect(51px, 450px, 90px, 0); } }

@keyframes glitch-three-anim-2 {
  0% {
    clip: rect(28px, 450px, 56px, 0); }
  5.88235% {
    clip: rect(77px, 450px, 92px, 0); }
  11.76471% {
    clip: rect(107px, 450px, 87px, 0); }
  17.64706% {
    clip: rect(27px, 450px, 79px, 0); }
  23.52941% {
    clip: rect(36px, 450px, 81px, 0); }
  29.41176% {
    clip: rect(20px, 450px, 14px, 0); }
  35.29412% {
    clip: rect(28px, 450px, 43px, 0); }
  41.17647% {
    clip: rect(107px, 450px, 67px, 0); }
  47.05882% {
    clip: rect(99px, 450px, 34px, 0); }
  52.94118% {
    clip: rect(38px, 450px, 7px, 0); }
  58.82353% {
    clip: rect(96px, 450px, 110px, 0); }
  64.70588% {
    clip: rect(112px, 450px, 15px, 0); }
  70.58824% {
    clip: rect(108px, 450px, 46px, 0); }
  76.47059% {
    clip: rect(2px, 450px, 6px, 0); }
  82.35294% {
    clip: rect(63px, 450px, 107px, 0); }
  88.23529% {
    clip: rect(46px, 450px, 10px, 0); }
  94.11765% {
    clip: rect(97px, 450px, 22px, 0); }
  100% {
    clip: rect(33px, 450px, 87px, 0); } }
  .glitch-three:before, .glitch-three:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    clip: rect(0, 0, 0, 0); }
  .glitch-three:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitch-three-anim-1 2s infinite linear alternate-reverse; }
  .glitch-three:before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch-three-anim-2 3s infinite linear alternate-reverse; }

.glitch-four {
  color: black;
  position: relative; }

@keyframes glitch-four-anim-1 {
  0% {
    clip: rect(114px, 450px, 88px, 0); }
  5.88235% {
    clip: rect(42px, 450px, 2px, 0); }
  11.76471% {
    clip: rect(64px, 450px, 28px, 0); }
  17.64706% {
    clip: rect(49px, 450px, 44px, 0); }
  23.52941% {
    clip: rect(7px, 450px, 60px, 0); }
  29.41176% {
    clip: rect(30px, 450px, 20px, 0); }
  35.29412% {
    clip: rect(1px, 450px, 74px, 0); }
  41.17647% {
    clip: rect(42px, 450px, 52px, 0); }
  47.05882% {
    clip: rect(13px, 450px, 80px, 0); }
  52.94118% {
    clip: rect(60px, 450px, 50px, 0); }
  58.82353% {
    clip: rect(71px, 450px, 55px, 0); }
  64.70588% {
    clip: rect(7px, 450px, 56px, 0); }
  70.58824% {
    clip: rect(90px, 450px, 7px, 0); }
  76.47059% {
    clip: rect(25px, 450px, 57px, 0); }
  82.35294% {
    clip: rect(95px, 450px, 82px, 0); }
  88.23529% {
    clip: rect(45px, 450px, 113px, 0); }
  94.11765% {
    clip: rect(24px, 450px, 3px, 0); }
  100% {
    clip: rect(24px, 450px, 1px, 0); } }

@keyframes glitch-four-anim-2 {
  0% {
    clip: rect(71px, 450px, 74px, 0); }
  5.88235% {
    clip: rect(22px, 450px, 1px, 0); }
  11.76471% {
    clip: rect(6px, 450px, 45px, 0); }
  17.64706% {
    clip: rect(36px, 450px, 46px, 0); }
  23.52941% {
    clip: rect(30px, 450px, 25px, 0); }
  29.41176% {
    clip: rect(23px, 450px, 73px, 0); }
  35.29412% {
    clip: rect(98px, 450px, 37px, 0); }
  41.17647% {
    clip: rect(67px, 450px, 59px, 0); }
  47.05882% {
    clip: rect(73px, 450px, 47px, 0); }
  52.94118% {
    clip: rect(5px, 450px, 53px, 0); }
  58.82353% {
    clip: rect(21px, 450px, 70px, 0); }
  64.70588% {
    clip: rect(33px, 450px, 39px, 0); }
  70.58824% {
    clip: rect(110px, 450px, 3px, 0); }
  76.47059% {
    clip: rect(102px, 450px, 99px, 0); }
  82.35294% {
    clip: rect(7px, 450px, 24px, 0); }
  88.23529% {
    clip: rect(45px, 450px, 47px, 0); }
  94.11765% {
    clip: rect(94px, 450px, 37px, 0); }
  100% {
    clip: rect(100px, 450px, 9px, 0); } }
  .glitch-four:before, .glitch-four:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    clip: rect(0, 0, 0, 0); }
  .glitch-four:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitch-four-anim-1 2s infinite linear alternate-reverse; }
  .glitch-four:before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch-four-anim-2 3s infinite linear alternate-reverse; }

.glitch-five {
  color: black;
  position: relative; }

@keyframes glitch-five-anim-1 {
  0% {
    clip: rect(37px, 450px, 80px, 0); }
  5.88235% {
    clip: rect(25px, 450px, 57px, 0); }
  11.76471% {
    clip: rect(21px, 450px, 39px, 0); }
  17.64706% {
    clip: rect(52px, 450px, 112px, 0); }
  23.52941% {
    clip: rect(111px, 450px, 55px, 0); }
  29.41176% {
    clip: rect(54px, 450px, 30px, 0); }
  35.29412% {
    clip: rect(94px, 450px, 17px, 0); }
  41.17647% {
    clip: rect(17px, 450px, 86px, 0); }
  47.05882% {
    clip: rect(24px, 450px, 96px, 0); }
  52.94118% {
    clip: rect(78px, 450px, 64px, 0); }
  58.82353% {
    clip: rect(46px, 450px, 108px, 0); }
  64.70588% {
    clip: rect(44px, 450px, 54px, 0); }
  70.58824% {
    clip: rect(15px, 450px, 67px, 0); }
  76.47059% {
    clip: rect(98px, 450px, 24px, 0); }
  82.35294% {
    clip: rect(26px, 450px, 71px, 0); }
  88.23529% {
    clip: rect(82px, 450px, 93px, 0); }
  94.11765% {
    clip: rect(55px, 450px, 59px, 0); }
  100% {
    clip: rect(44px, 450px, 77px, 0); } }

@keyframes glitch-five-anim-2 {
  0% {
    clip: rect(8px, 450px, 17px, 0); }
  5.88235% {
    clip: rect(85px, 450px, 9px, 0); }
  11.76471% {
    clip: rect(36px, 450px, 64px, 0); }
  17.64706% {
    clip: rect(1px, 450px, 21px, 0); }
  23.52941% {
    clip: rect(58px, 450px, 75px, 0); }
  29.41176% {
    clip: rect(18px, 450px, 21px, 0); }
  35.29412% {
    clip: rect(30px, 450px, 76px, 0); }
  41.17647% {
    clip: rect(104px, 450px, 73px, 0); }
  47.05882% {
    clip: rect(57px, 450px, 59px, 0); }
  52.94118% {
    clip: rect(57px, 450px, 3px, 0); }
  58.82353% {
    clip: rect(9px, 450px, 8px, 0); }
  64.70588% {
    clip: rect(77px, 450px, 18px, 0); }
  70.58824% {
    clip: rect(97px, 450px, 51px, 0); }
  76.47059% {
    clip: rect(26px, 450px, 5px, 0); }
  82.35294% {
    clip: rect(105px, 450px, 110px, 0); }
  88.23529% {
    clip: rect(85px, 450px, 15px, 0); }
  94.11765% {
    clip: rect(46px, 450px, 73px, 0); }
  100% {
    clip: rect(100px, 450px, 10px, 0); } }
  .glitch-five:before, .glitch-five:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    clip: rect(0, 0, 0, 0); }
  .glitch-five:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitch-five-anim-1 2s infinite linear alternate-reverse; }
  .glitch-five:before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch-five-anim-2 3s infinite linear alternate-reverse; }

.glitch-six {
  color: black;
  position: relative; }

@keyframes glitch-six-anim-1 {
  0% {
    clip: rect(80px, 450px, 10px, 0); }
  5.88235% {
    clip: rect(89px, 450px, 62px, 0); }
  11.76471% {
    clip: rect(91px, 450px, 22px, 0); }
  17.64706% {
    clip: rect(107px, 450px, 107px, 0); }
  23.52941% {
    clip: rect(113px, 450px, 87px, 0); }
  29.41176% {
    clip: rect(1px, 450px, 54px, 0); }
  35.29412% {
    clip: rect(23px, 450px, 18px, 0); }
  41.17647% {
    clip: rect(30px, 450px, 18px, 0); }
  47.05882% {
    clip: rect(100px, 450px, 103px, 0); }
  52.94118% {
    clip: rect(68px, 450px, 107px, 0); }
  58.82353% {
    clip: rect(111px, 450px, 38px, 0); }
  64.70588% {
    clip: rect(82px, 450px, 85px, 0); }
  70.58824% {
    clip: rect(106px, 450px, 89px, 0); }
  76.47059% {
    clip: rect(97px, 450px, 75px, 0); }
  82.35294% {
    clip: rect(41px, 450px, 100px, 0); }
  88.23529% {
    clip: rect(110px, 450px, 89px, 0); }
  94.11765% {
    clip: rect(48px, 450px, 100px, 0); }
  100% {
    clip: rect(17px, 450px, 49px, 0); } }

@keyframes glitch-six-anim-2 {
  0% {
    clip: rect(101px, 450px, 22px, 0); }
  5.88235% {
    clip: rect(23px, 450px, 58px, 0); }
  11.76471% {
    clip: rect(38px, 450px, 12px, 0); }
  17.64706% {
    clip: rect(39px, 450px, 92px, 0); }
  23.52941% {
    clip: rect(113px, 450px, 88px, 0); }
  29.41176% {
    clip: rect(41px, 450px, 94px, 0); }
  35.29412% {
    clip: rect(11px, 450px, 48px, 0); }
  41.17647% {
    clip: rect(10px, 450px, 22px, 0); }
  47.05882% {
    clip: rect(30px, 450px, 79px, 0); }
  52.94118% {
    clip: rect(16px, 450px, 112px, 0); }
  58.82353% {
    clip: rect(39px, 450px, 42px, 0); }
  64.70588% {
    clip: rect(78px, 450px, 51px, 0); }
  70.58824% {
    clip: rect(45px, 450px, 15px, 0); }
  76.47059% {
    clip: rect(9px, 450px, 29px, 0); }
  82.35294% {
    clip: rect(17px, 450px, 86px, 0); }
  88.23529% {
    clip: rect(54px, 450px, 20px, 0); }
  94.11765% {
    clip: rect(49px, 450px, 63px, 0); }
  100% {
    clip: rect(32px, 450px, 87px, 0); } }
  .glitch-six:before, .glitch-six:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    clip: rect(0, 0, 0, 0); }
  .glitch-six:after {
    left: 2px;
    text-shadow: -1px 0 red;
    animation: glitch-six-anim-1 2s infinite linear alternate-reverse; }
  .glitch-six:before {
    left: -2px;
    text-shadow: 2px 0 blue;
    animation: glitch-six-anim-2 3s infinite linear alternate-reverse; }

/*
  (IMAGE) PARAMS
  =================
  @mixin imgGlitch($name, $intensity, $width, $height, $top, $left)
  =================
  1. Namespace
  2. Intensity
  3. Width (px)
  4. Height (px)
  5. Top (px, abs pos)
  6. Left (px, abs pos)
*/
.dino {
  position: relative;
  height: 61px;
  top: 0; }

@keyframes dino-anim-1 {
  0% {
    clip: rect(19px, 80px, 48px, 0); }
  6.66667% {
    clip: rect(2px, 80px, 15px, 0); }
  13.33333% {
    clip: rect(4px, 80px, 23px, 0); }
  20% {
    clip: rect(21px, 80px, 21px, 0); }
  26.66667% {
    clip: rect(4px, 80px, 40px, 0); }
  33.33333% {
    clip: rect(45px, 80px, 61px, 0); }
  40% {
    clip: rect(38px, 80px, 24px, 0); }
  46.66667% {
    clip: rect(7px, 80px, 31px, 0); }
  53.33333% {
    clip: rect(51px, 80px, 10px, 0); }
  60% {
    clip: rect(16px, 80px, 55px, 0); }
  66.66667% {
    clip: rect(61px, 80px, 42px, 0); }
  73.33333% {
    clip: rect(9px, 80px, 23px, 0); }
  80% {
    clip: rect(27px, 80px, 48px, 0); }
  86.66667% {
    clip: rect(9px, 80px, 49px, 0); }
  93.33333% {
    clip: rect(32px, 80px, 30px, 0); }
  100% {
    clip: rect(20px, 80px, 52px, 0); } }

@keyframes dino-anim-2 {
  0% {
    clip: rect(20px, 80px, 2px, 0); }
  6.66667% {
    clip: rect(28px, 80px, 45px, 0); }
  13.33333% {
    clip: rect(51px, 80px, 30px, 0); }
  20% {
    clip: rect(3px, 80px, 1px, 0); }
  26.66667% {
    clip: rect(48px, 80px, 47px, 0); }
  33.33333% {
    clip: rect(12px, 80px, 46px, 0); }
  40% {
    clip: rect(15px, 80px, 44px, 0); }
  46.66667% {
    clip: rect(61px, 80px, 27px, 0); }
  53.33333% {
    clip: rect(32px, 80px, 31px, 0); }
  60% {
    clip: rect(43px, 80px, 5px, 0); }
  66.66667% {
    clip: rect(22px, 80px, 24px, 0); }
  73.33333% {
    clip: rect(32px, 80px, 58px, 0); }
  80% {
    clip: rect(52px, 80px, 3px, 0); }
  86.66667% {
    clip: rect(1px, 80px, 3px, 0); }
  93.33333% {
    clip: rect(43px, 80px, 51px, 0); }
  100% {
    clip: rect(28px, 80px, 43px, 0); } }
  .dino > img {
    position: absolute;
    top: 0px;
    left: 0px; }
  .dino > img:nth-child(2),
  .dino > img:nth-child(3) {
    clip: rect(0, 0, 0, 0); }
  .dino > img:nth-child(2) {
    left: 2px;
    animation: dino-anim-1 2s infinite linear alternate-reverse; }
  .dino > img:nth-child(3) {
    left: -2px;
    animation: dino-anim-2 3s infinite linear alternate-reverse; }
